@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "All Employees";
}
@* <div class="alert alert-success">
    @ViewData["Message"]
</div>
<div class="alert alert-primary">
    @ViewBag.Message
</div> *@
@if(TempData["Message"] is not null)
{
<div id="MessageDiv" class="alert alert-success">
    @TempData["Message"]
</div>    
}

<a asp-action="Create" class="btn btn-success mb-3">Add New Employee</a>

@if (Model.Count() > 0)
{
    
    <h1>All Employees</h1>
    <div class="m-2">
        <form asp-action="Index" class="row offset-2" >
            <div class="col-8">
                <input type="text" placeholder="Employee's Name" class="form-control" name="searchString" />
            </div>
            <div class="col-4">
                <input type="submit" value="Search" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover table-bordered  mt-3">
        <thead>
            <tr class="text-center align-baseline">

                <th scope="col">@Html.DisplayNameFor(E => E.Image)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.Name)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.Age)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.Salary)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.Department)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.Address)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.Email)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.PhoneNumber)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.HireDate)</th>
                <th scope="col">@Html.DisplayNameFor(E => E.IsActive)</th>
                <th scope="col">Details</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var employee in Model)
            {
                <tr class="text-center align-baseline">
                    <td><img src="~/Files/Images/@employee.ImageName" class="rounded-circle" height="150" width="150" alt="@employee.Name Image"/></td>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@Html.DisplayFor(E=>employee.Salary)</td>
                    <td>@Html.DisplayFor(E=>employee.Department.Name)</td>
                    <td>@employee.Address</td>
                    <td>@Html.DisplayFor(E => employee.Email)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate</td>
                    <td>
                        @if (employee.IsActive == true)
                        {
                            <i class="fa-solid fa-circle" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle" style="color:red"></i>
                        }
                    </td>
                    <partial name="_ButtonPartialView" model="employee.Id.ToString()"/>
        
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <div>
        <h3 class="mt-5 alert alert-warning">There is No Employees</h3>
    </div>
}
